*.exe
*.dll
*.ipdb
*.iobj
*.obj
*.pdb
*.txt
*.log
*.lib
*.tlog
*.sln

vendor/**

*.Build.CppClean
*.vcxproj.FileListAbsolute
*.applocal
*.lastbuildstate
*.res
*.cache

**/Dump

.vs
bin/**
lib/**
Dependencies
