*.exe
*.dll
*.ipdb
*.iobj
*.obj
*.pdb
*.txt
*.log
*.lib
*.tlog
*.sln
*.Build.CppClean
*.vcxproj.FileListAbsolute
*.applocal
*.lastbuildstate
*.res
*.cache

bin/*
!bin/sounds
!bin/sprites

**/vendor/**

**/Dump

.vs
lib/**
Dependencies
