# premake5
*.vcxproj
*.vcxproj.*
**/obj/**
**/bin/**
*.exe
*.dll
*.ipdb
*.iobj
*.obj
*.pdb
*.txt
*.log
*.lib
*.tlog
*.sln
*.Build.CppClean
*.applocal
*.lastbuildstate
*.res
*.cache

!bin/sounds
!bin/sprites

**/Dump

.vs
lib/**

